@page "/results/{SurveyId}"
@using MoonCoreUI.Components
@using Pollifyr.App.Database.Models
@using Pollifyr.App.Services.Auth
@using Pollifyr.App.Services.Surveys
@using Pollifyr.App.UI.Components.Charts
@using Pollifyr.App.UI.Views.Errors
@using Pollifyr.App.UI.Components.Alerts

@inject SurveyService SurveyService
@inject QuestionService QuestionService
@inject AnswerService AnswerService
@inject IdentityService IdentityService

<LazyLoader Load="Load">
    <div class="mx-2 mx-lg-6">
        @if (!Visible)
        {
            <RessourceNotFound/>
        }
        else
        {
            <div class="card">
                <div class="card-body position-relative">
                    <div class="mb-2">
                        <h1>@Survey.Name</h1>
                        <h4 class="text-muted">@Survey.Description</h4>
                    </div>
                    
                    <h4 class="text-muted">Attended @Survey.Attends Times</h4>
                        
                    <hr class="mb-4"/>
                    
                    @if(Questions.Any())
                    {
                        <div class="row row-deck row-cards">
                            @foreach (var question in Questions)
                            {
                                var list = Answers.Where(x => x.QuestionId == question.Id).ToList();
                                
                                
                                <div class="col-12 col-md-6 mb-4 p-4 ">
                                    <h2>@question.Text</h2>
                                    @if (list.Any())
                                    {

                                        <PieChart Title="" TItem="Answer" Items="list" XValue="@(x => x.Text)" YAggregate="@(x => x.Sum(y => y.Answers))"></PieChart>
                                    }
                                    else
                                    {
                                        <span class="fs-4 text-muted">No answers provided for this question.</span>
                                    }
                                </div>
                                
                            }
                        </div>
                    }
                    else
                    {
                        <IconAlert Color="warning" Title="No questions found for this survey!" Icon="bx-file-find">
                            There are no questions assigned to this survey, contact an administrator if that's not true.
                        </IconAlert>
                    }
                </div>
            </div>
        }
        </div>
</LazyLoader>

@code {
    [Parameter]
    public string SurveyId { get; set; }

    private int Id;

    private Survey? Survey;

    private List<Question> Questions;
    private List<Answer> Answers;

    private bool Visible;

    private async Task Load(LazyLoader arg)
    {
        await Reload();
    }

    private async Task Reload()
    {
        try
        {
            Id = Int32.Parse(SurveyId);
        }
        catch (FormatException)
        {
            Survey = null;
            return;
        }
        
        Survey = await SurveyService.GetById(Id);
        
        if (Survey == null)
        {
            await InvokeAsync(StateHasChanged);
            return;
        }
        
        Questions = await QuestionService.GetAllFromSurvey(Survey);
        Answers = await AnswerService.GetAllFromSurvey(Survey);

        if (Survey.Visible)
        {
            Visible = true;
        }
        else
        {
            if (IdentityService.IsAdmin)
            {
                Visible = true;
            }
        }
        
    }

}